[Unit]
Description=Minio S3
After=local-fs.target network-online.target
Wants=local-fs.target network-online.target

[Container]
ContainerName=minio-server
Image=docker.io/minio/minio:latest
# Volumes
Volume=/data/s3:/data:Z

# Ports
PublishPort={{ openchami_config.s3.api_port }}:{{ openchami_config.s3.api_port }}
PublishPort={{ openchami_config.s3.console_port }}:{{ openchami_config.s3.console_port }}

# Environemnt Variables
Environment=MINIO_ROOT_USER=admin
Environment=MINIO_ROOT_PASSWORD=admin123

# Command to run in container
Exec=server /data --console-address :{{ openchami_config.s3.console_port }}

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
