[Unit]
Description=The haproxy container
Wants=boot-service.service metadata-service.service smd.service acme-deploy.service
After=openchami-external-network.service smd.service boot-service.service acme-deploy.service metadata-service.service
Requires=openchami-external-network.service acme-deploy.service
PartOf=openchami.target

[Container]
ContainerName=haproxy
HostName=haproxy
Image=cgr.dev/chainguard/haproxy

# Volumes
Volume=/etc/openchami/configs/:/usr/local/etc/haproxy/:ro,Z
Volume=haproxy-certs:/etc/haproxy/certs/:ro,z

# Ports
PublishPort=8081:80
PublishPort=8443:443

# Networks for the Container to use
Network=openchami-external.network
Network=openchami-internal.network
Network=openchami-jwt-internal.network

# Unsupported by generator options
# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always
RestartSec=10s
