[Unit]
Description=The metadata-service container
# Depends on SMD
Wants=smd.service
After=smd.service
PartOf=openchami.target

[Container]
ContainerName=metadata-service
HostName=metadata-service
Image=ghcr.io/openchami/metadata-service:v0.1.1

Secret=metadata-service-bootstrap-token,type=env,target=TOKENSMITH_BOOTSTRAP_TOKEN

# Environment Variables
EnvironmentFile=/etc/openchami/configs/openchami.env

# Secrets
Secret=metadata-service-bootstrap-token,type=env,target=TOKENSMITH_BOOTSTRAP_TOKEN

Volume=metadata-data.volume:/data

Exec=serve --tokensmith-url=http://tokensmith:8080

# Networks for the Container to use
Network=openchami-internal.network

# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
ExecStartPre=/usr/sbin/tokensmith_bootstrap_token metadata-service
Restart=always
